
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger

*-error.log
Cargo.lock

*-keypair.json
*-secret.json

.switchboard
start-local-validator.sh
start-oracle.sh
switchboard.env
switchboard.json
docker-compose.switchboard.yml