
.anchor
.DS_Store
target
**/*.rs.bk
node_modules
test-ledger

*-error.log
Cargo.lock

*-keypair.json
*-secret.json

# Switchboard
**/.switchboard/*
!**/.switchboard/networks/
**/.switchboard/networks/*
!**/.switchboard/networks/*.config.json